
html {
  background-image: url(seigaiha.png);
}

header {
  width:960px;
  border-bottom: 20px;
}

h1 {
  padding: 20px;
  margin:0;
  font-size: 28px;
  color:white;
  background:red;

}

#nav {
  float: left;
}

h2 {
  font-size: 24px;
  color: red;
}


.header {
  float: left;
  background: white;
  border-bottom: 2px solid black;
  margin-left: 100px;
}



li  {
  list-style-type: none;
  background: white;
  padding:20px;
}

li a {
  text-decoration: none;
  padding:20px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: black;
}
.container {
  
  width: 650px;
  margin: auto;
  font-size: 16px;
  color: #333;
  float:left;

}

#mainBio{
  float:left;
  margin-bottom: 30px;
  background: white;
}

#mainBio,
#bioImage {
  float: left;
  margin-top: 20px;
  padding: 20px;
}

#mainBio p {
  font-family: Arial, sans-serif;
}

#bioImage {
  margin-right: 20px;
}

#socialBar {
  float: left;
  padding:10px;
  background: white;
  margin:auto;
  width: 270px;

}


footer {
  clear: both;
  text-align: center;
  padding:30px;
  background: red;
  border-top: 10px solid #4aaaa5;
  color:white;
  margin-top: -30px;
}